<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>

{% block head %}
        <title>{{ title }}</title>
        <link rel="icon" href="/favicon.ico">
        <meta charset="{{ charset }}">
{% endblock %}

    </head>
    <body>

{% block body %}
        <h1><center>{{ text }}</center></h1>
{% endblock %}

    </body>
</html>
